.menu-item {
    font-size: 1.5em;
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

.menu-item > a {
    text-decoration: none;
    color: gray;
}

.menu-item > a:hover {
    text-decoration: !inherit;
    color: black;
}
