.guideline__title {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 15px;
    padding-bottom: 7px;

    background: #DDD;
    border: 1px solid #CCC;
}

.guideline__content {
    background: #F5F5F5;
    border: 1px solid #DDD;
    border-top: none;

    padding-left: 11px;
    padding-right: 11px;
    padding-top: 11px;
    padding-bottom: 22px;
    margin-bottom: 22px;
}

.guideline__example-wrapper {
    background: white;
    border: 1px solid #DDD;
    margin-top: 11px;
}

.guideline__example-description {
    font-size: 16px;
    line-height: 22px;
    margin-top: 22px;
}

.guideline__example-description:first-child {
    margin-top: 0px;
}