
.menu-item {
    font-size: 28px;
    line-height: 28px;
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.menu-item > a {
    text-decoration: none;
    color: gray;
}

.menu-item > a:hover {
    text-decoration: !inherit;
    color: black;
}


.title {
    font-family: Georgia, sans-serif;
    font-weight: 300;

    line-height: 55px;
    font-size: 48px;
    margin-top: 37px;
    margin-bottom: 18px;
}

.title_level2 {
    font-size: 32px;
    line-height: 44px;
    margin-top: 30px;
    margin-bottom: 14px;
}

.title_level3 {
    line-height: 32px;
    font-size: 24px;
    margin-top: 23px;
    margin-bottom: 11px;
}

.title_level4 {
    font-size: 18px;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 7px;
}

.text__paragraph {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 22px;
}

.text__paragraph:last-child {
    margin-bottom: 0px;
}

.menu {
    padding-left: 0px;
}

.page {
    padding-left: 200px;
    padding-right: 200px;
}

.page__content {
    margin-top: 22px;
}

.page__footer {
    margin-top: 22px;
}
.page-navigation {
    border-bottom: 1px solid gray;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/** * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) * Richard Clark (http://richclarkdesign.com) * http://cssreset.com */html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video {    margin:0;    padding:0;    border:0;    outline:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}body {    line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {    display:block;}nav ul {    list-style:none;}blockquote, q {    quotes:none;}blockquote:before, blockquote:after,q:before, q:after {    content:'';    content:none;}a {    margin:0;    padding:0;    font-size:100%;    vertical-align:baseline;    background:transparent;}/* change colours to suit your needs */ins {    background-color:#ff9;    color:#000;    text-decoration:none;}/* change colours to suit your needs */mark {    background-color:#ff9;    color:#000;    font-style:italic;    font-weight:bold;}del {    text-decoration: line-through;}abbr[title], dfn[title] {    border-bottom:1px dotted;    cursor:help;}table {    border-collapse:collapse;    border-spacing:0;}/* change border colour to suit your needs */hr {    display:block;    height:1px;    border:0;    border-top:1px solid #cccccc;    margin:1em 0;    padding:0;}input, select {    vertical-align:middle;}

.guideline__title {
    font-family: Georgia, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 7px;

    background: #DDD;
    border: 1px solid #CCC;
}

.guideline__content {
    background: #F5F5F5;
    border: 1px solid #DDD;
    border-top: none;

    padding-left: 7px;
    padding-right: 7px;
    padding-top: 22px;
    padding-bottom: 22px;
    margin-bottom: 22px;
}

.guideline__wrapper {
    background: white;
    border: 1px solid #DDD;
}
