{% load staticfiles %}
<html>
<head>
  <link rel="stylesheet" href="{% static css_filename %}"/>

  <!-- TODO: invent a way how to load this as some block's dependency. -->
  <script src="//yastatic.net/jquery/2.1.1/jquery.min.js"></script>

  <script src="{% static js_filename %}"></script>
  <title>Bempy's blog</title>
</head>

<body class="page page_with-menu_True">

<header class="page__header">
  <div class="page__login">{{login}}</div>
  {{title}}
  <div class="page__navigation">{{menu}}</div>
</header>

<div class="page__content">{{content}}</div>

<div class="page__footer">{{ footer }}</div>
</body>
</html>
